@charset 'UTF-8';
body {
    font-family: var(--ff);
    font-weight: var(--semibold);
    background: var(--purple100) url("../assets/images/background-pattern-mobile.svg") no-repeat top center;
    background-size: contain;
    display: grid;
    place-items:center;
    width: 100vw;
    min-height: 100vh;
}
main {
    background: var(--white);
    width: clamp(20rem,40vw,40rem);
    padding-left: clamp(1.8rem,5vw,2.5rem);
    padding-right: clamp(1.8rem,5vw,2.5rem);
    border-radius: .7rem;
    color: var(--purple950);
}
.faqs {
    display: flex;
    flex-flow: row wrap;
    margin-top: clamp(1.8rem,5vw,2.5rem);
    gap:1rem;
}
.faqs img {
    width: clamp(1.5rem,5vw,2rem);
}
.faqs h1 {
    font-weight: var(--bold);
    font-size: clamp(2rem,5vw,3rem);
}
main h2 {
    font-size: 1.1rem;
    width: clamp(13rem,35vw,30rem);
}
main h2:hover {
    color: var(--purple);
    cursor: pointer;
    
}
main p {
    font-size: var(--fs);
    padding-top: 1.5rem;
    color: var(--purple600);
    font-weight: var(--regular);
    line-height: 1.4rem;
    opacity: 80%;
    display: none;
}
.bloco {
    padding-top: clamp(1rem,5vw,1rem);
    padding-bottom: clamp(1rem,5vw,2rem);
    border-bottom: 2px solid var(--purple100);
}
main .question {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.on {
    display: block;
}