@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
/* cores */
--green500: hsl(158, 36%, 37%);
--green700: hsl(158, 42%, 18%);

--black: hsl(212, 21%, 14%);
--grey: hsl(228, 12%, 48%);
--cream: hsl(30, 38%, 92%);
--white: hsl(0, 0%, 100%);
/* fontes */
--font-medium: normal 500 14px 'Montserrat', Arial, Sans-serif;
--font-bold: normal 700 2rem 'Fraunces', Arial, Sans-serif;
}
body {
    font: var(--font-medium);
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items:center;
    background: var(--cream);
    color: var(--black);
}
main {
    min-width: 17rem;
    max-width: 22rem;
    background: var(--white);
    border-radius: .7rem;
    overflow: hidden;
}
.image img {
    width: 100%;
}
.content {
    padding: 2rem;
}
.perfume {
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: var(--grey);
}
.content h1 {
    font: var(--font-bold);
}
.content p {
    color: var(--grey);
    line-height: 1.4rem;
}
.price {
    display: flex;
    flex-flow: row wrap;
    column-gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}
.price strong {
    font: var(--font-bold);
    color: var(--green500);
}
.price s {
    color: var(--grey);
}
.btn {
    padding: 1rem;
    width: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .7rem;
    border: none;
    background: var(--green500);
    color: var(--white);
    border-radius: .5rem;
}
.perfume,h1,p,.price {
    margin-bottom: 1rem;
}
@media screen and (min-width:48rem){
    main {
        display: flex;
        flex-flow: row wrap;
        max-width: 38rem;
    }
    .image {
        width: 50%;
    }
    .content {
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
}