header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
header h1 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
header p {width: 35rem;}
.block {
    margin: 0;
}
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 100%;
}
.notes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap:2rem;
}
.notes .collumn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
}