@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
:root {
--Purple100: hsl(254, 88%, 90%);
--Purple500: hsl(256, 67%, 59%);
--Yellow100: hsl(31, 66%, 93%);
--Yellow500: hsl(39, 100%, 71%);
--Grey100: hsl(0, 0%, 94%);
--Grey200: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
--Black: hsl(0, 0%, 7%);

--FS:18px; /* (paragraph) */
--FF: 'DM Sans', Arial, Sans-serif;
--normal1:400;
--normal2:500;
}