main {
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 35rem;
    max-width: 100rem;
}
section.div {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
section.previews {
    min-width: 32rem;
    display: flex;
    flex-flow: row wrap;
}
.rated {
    width: 80%;
    justify-content: flex-start;
}
.box {
    height: 15rem;
}
#r1 {
    margin-left: 0;
}
#r2 {
    margin-left: 3rem;
}
#r3 {
    margin-left: 6rem;
}
#b1 {
    margin-top: 4rem;
}
#b2 {
    margin-top: 5rem;
}
#b3 {
    margin-top: 6rem;
}
.avise h1 {
    margin: 0;
    font-size: 3.4rem;
    width: 100%;
    margin-bottom: 2rem;
}
section.users {
    gap:2rem;
    
}