@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
--navy950: hsl(233, 47%, 7%);/*(main background)*/
--blue950: hsl(244, 37%, 16%);/*(card background)*/
--purple500: hsl(277, 64%, 61%);/*(accent)*/

--white1: hsl(0, 0%, 100%);/*(main heading, stats)*/
--white2: hsla(0, 0%, 100%, 0.75);/*(main paragraph)*/
--white3: hsla(0, 0%, 100%, 0.6);/*(stat headings)*/

--font-normal:normal 400 1rem Arial, Sans-serif ;
--font-medium:normal 400 15px 'Lexend Deca' ;
--font-semibold:normal 700 clamp(2rem,5vw,2.5rem) 'Inter' ;
}
body {
    font: var(--font-normal);
    background: var(--navy950);
    display: grid;
    place-items:center;
    width: 100vw;
    min-height: 100vh;
}
main {
    color: var(--white1);
    background: var(--blue950);
    min-width: 18rem;
    max-width: 22rem;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}
.image {
    position: relative;
}
.image::after {
    content: '';
    position: absolute;
    background: var(--purple500);
    inset:0;
    opacity: 0.85;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    padding: 2.3rem;
}
.content h1 {
    font: var(--font-semibold);
    margin-bottom: 1rem;
}
h1 strong {
    color: var(--purple500);
    font: var(--font-semibold);
}
.content p {
    font: var(--font-medium);
    color: var(--white2);
    line-height: 1.7rem;
}
.data span{
    text-transform: uppercase;
    color: var(--white3);
    font: var(--font-medium);
}
.queries {
    text-transform: uppercase;
}
.data > div {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
    line-height: 4rem;
}
.data strong {
    font: var(--font-semibold);
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
@media screen and (min-width:48rem){
    main {
        max-width: 70rem;
        display: flex;
        flex-flow: row-reverse wrap-reverse;
    }
    section {
        width: 50%;
        text-align: left;
    }
    .content {
        padding: 4rem;
        padding-right: 6rem;
    }
    .data {
        display: flex;
        flex-flow: row wrap;
        column-gap: 4rem;
        margin-top: 2rem;
    }
    .data > div {
        line-height: 0rem;
    }
}
