@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
/* cores */
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);

--fundo1: hsl(0, 100%, 67%, 5%);
--fundo2: hsl(39, 100%, 56%, 5%);
--fundo3: hsl(166, 100%, 37%, 5%);
--fundo4: hsl(234, 85%, 45%, 5%);
/*## Gradients*/
/* (background) */
--light-slate-blue: hsl(252, 100%, 67%);
--light-royal-blue: hsl(241, 81%, 54%);
/* (circle) */
--violet-blue: hsla(256, 72%, 46%, 1);
--persian-blue: hsla(241, 72%, 46%, 0);

--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--light-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);

/* fontes */
--font-medium:normal 500 18px 'Hanken Grotesk', Arial, Sans-serif;
--font-semibold:normal 700 1rem 'Hanken Grotesk', Arial, Sans-serif;
--font-bold:normal 800 1rem 'Hanken Grotesk', Arial, Sans-serif;
}
body {
    width: 100vw;
    min-height: 100vh;
    background: var(--pale-blue);
    font: var(--font-semibold);
}
main {
    background: var(--white);
    min-width: 18rem;
    max-width: 46rem;
}
.result {
    background-image: linear-gradient(to bottom, var(--light-slate-blue),var(--light-royal-blue));
    text-align: center;
    padding: 2rem;
    color: var(--white);
    border-radius: 0rem 0rem 2rem 2rem;
}
.result h1 {
    font: var(--font-bold);
    font-size: 1.2rem;
    color: var(--light-lavender);
}
.result p {
    font: var(--font-medium);
    margin-top: 1rem;
    color: var(--light-lavender);
}
.result .points {
    border-radius: 50%;
    display: inline-flex;
    width: 9rem;
    height: 9rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    background-image: linear-gradient(to bottom,var(--violet-blue), var(--persian-blue));
}
.points strong {
    font: var(--font-bold);
    font-size: 3.5rem;
    font-size: clamp(3rem,9vw,4.7rem);
}
.points span {
    font-size: clamp(.7rem,4vw,1.2rem);
    color: var(--light-lavender);
}
.card {
    padding: 2rem;
}
.card h3 {
    margin-bottom: 2rem;
    font-size: clamp(1rem, 5vw, 1.5rem);
}
.card-group {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    border-radius: .7rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
#fundo1 {
    background: var(--fundo1);
}
#fundo2{
    background: var(--fundo2);
}
#fundo3 {
    background: var(--fundo3);
}
#fundo4 {
    background: var(--fundo4);
}
.figure {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 1rem;
}
#cor1 {
    color: var(--light-red);
}
#cor2 {
    color: var(--orangey-yellow);
}
#cor3 {
    color: var(--green-teal);
}
#cor4 {
    color: var(--cobalt-blue);
}
.numbers strong {
    font: var(--font-bold);
    color: var(--dark-gray-blue);
}
.btn {
    width: 100%;
    display: block;
    border: none;
    padding: 1rem;
    background: var(--dark-gray-blue);
    text-align: center;
    color: var(--white);
    border-radius: 1.5rem;
    font: var(--font-semibold);
    margin-top: 1.5rem;
}
.btn:hover {
    background: var(--cobalt-blue);
    cursor: pointer;
}
@media screen and (min-width:40rem){
    body {
        display: grid;
        place-items:center;
    }
    main {
        display: flex;
        flex-flow: row wrap;
        border-radius: 2rem;
        overflow: hidden;
    }
    section {
        width: 50%;
    }
    .result {
        border-radius: 0rem 2rem 2rem 0rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .result .points {
        width: 12rem;
        height: 12rem;
    }
    .card, .result{
        padding: 3.2rem;
    }
}