body {
    display: grid;
    place-items:center;
    width: 100vw;
    min-height: 100vh;
    margin: 5rem 0rem;
}
main {
    padding: 2.5rem;
    border-radius: 1rem;
    overflow: hidden;
    max-width: 46rem;
}
li {
    line-height: 1.5rem;
    margin-bottom: .7rem;
}
.image img {
    border-radius: 1rem;
}
.content {
    padding: 0;
}
.content h1 {
    margin-top: 2rem;
}
.list-group span {
    grid-column: 1 / 2;
}
.list-group strong {
    grid-column:4 / 5 ;
}