body {
    background: var(--stone100);
    font-family: var(--ff2);
    font-weight: var(--regular);
    color: var(--stone600);
}
ul,ol {
    margin-left: 1rem;
}
li {
    padding-left: 1rem;
    margin-bottom: .5rem;
    font-family: var(--ff2);
    font-weight: var(--semibold);
}
li span {
    color: var(--stone600);
    font-weight: var(--regular);
}
article {
    margin-bottom: 2rem;
}
article h2 {
    font-family: var(--ff1);
    font-weight: var(--medium);
    margin-bottom: 1rem;
    color: var(--brown800);
}
main {
    background: var(--white);
    max-width: 25rem;
    margin: auto;
}
main p {
    line-height: 1.8rem;
    font-size: var(--fs);
}
.image img {
    width: 100%;
}
.content {
    padding: 2.1rem;
}
.content h1 {
    font-family: var(--ff1);
    font-weight: var(--semibold);
    margin-bottom: 1.5rem;
    color: var(--stone600);
    font-size: clamp(2rem,5vw,2.5rem);
}
.content p {
    margin-bottom: 1.5rem;
}
.ingredients, .instructions{
    color: var(--brown800);
}
.main .time {
    background: var(--rose50);
    padding: 1rem;
    color: var(--rose800);
    border-radius: .8rem;
}
.time strong {
    color: var(--stone600);
}
.time span {
    color: var(--stone600);
}
.time li {
    margin-top: 1rem;
    width: 70%;
}
.instructions {
    border-bottom: 1px solid var(--stone150);
    padding-bottom: 1rem;
}
.instructions strong {
    color: var(--stone600);
}
.list-group strong {
    color: var(--brown800);
}
.list-group div {
    display: grid;
    grid-template-columns: 1fr auto 2fr auto 2fr;
    padding: 1rem;
    border-bottom: 1px solid var(--stone150);
}
.list-group span {
    grid-column: 2 / 3;
    width: 4rem;
}
.list-group strong {
    grid-column:4 / 5 ;
    width: 4rem;
}

.fat {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}