@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
/* cores */
--white:#fff;
--blue100: hsl(225, 100%, 94%);
--blue700: hsl(245, 75%, 52%);

--blue50: hsl(225, 100%, 98%);
--gray600: hsl(224, 23%, 55%);
--blue950: hsl(223, 47%, 23%);
/* fontes */
--font-size:16px; /* (paragraph) */
--font-medium:normal 500 1rem 'Red Hat Display', Arial, Sans-serif;
--font-semibold:normal 700 1rem 'Red Hat Display', Arial, Sans-serif;
--font-bold:normal 900 1rem 'Red Hat Display', Arial, Sans-serif;
}
body {
    background:var(--blue100) url("../images/pattern-background-mobile.svg") no-repeat top center;
    font: var(--font-medium);
    color: var(--gray600);
    display: grid;
    place-items:center;
    width: 100vw;
    min-height: 100vh;
}
main {
    width: 20rem;
    background: var(--white);
    border-radius: 1rem;
    overflow: hidden;
}
.image img {
    width: 100%;
}
.content {
    text-align: center;
    padding: 1.5rem;
}
.content h1 {
    font: var(--font-bold);
    font-size: clamp(1.5rem,5vw,1.8rem);
    margin-bottom: 1.5rem;
    color: var(--blue950);
}
.content p {
    font: var(--font-size);
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}
.content .music {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--blue50);
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}
.music .div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
}
.music .price {
    display: flex;
    flex-flow: column nowrap;
}
.music strong {
    font: var(--font-bold);
    color: var(--blue950);
}
.music a {
    font: var(--font-semibold);
    font-size: .9rem;
    color: var(--blue700);
    text-decoration: underline;
}
.music a:hover {
    opacity: 60%;
}
button {
    border-radius: .7rem;
    font: var(--font-bold);
    background: transparent;
    display: block;
    padding: .9rem;
    font-size: 1rem;
    width: 100%;
    border: none;
    color: var(--gray600);
}
.btn-pay {
    background: var(--blue700);
    color: var(--white);
    box-shadow: 0rem 1rem 10px var(--blue100);
}
.btn-pay:hover {
    opacity: 60%;
}
.btn-cancel:hover {
    color: var(--blue950);
    cursor: pointer;
}
@media screen and (min-width:40rem){
    body {
        background:var(--blue100) url("../images/pattern-background-desktop.svg") no-repeat top center;
    }
    main {
        width: 28rem;
        border-radius: 1.5rem;
    }
    .content {
    padding:3rem ;
    }
    .btn-pay {
    box-shadow: 0rem 2rem 15px var(--blue100);
    }
    .btn-cancel {
        margin-top: 1rem;
    }
}