@charset 'UTF-8';
/* ====== RESET ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ====== CORES DO DESAFIO ====== */
:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);
}

/* ====== BODY ====== */
body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--slate-300);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* ====== CARD ====== */
.card {
  background: var(--white);
  padding: 16px;
  border-radius: 20px;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 2px 20px rgba(0,0,0,0.08);
}

/* Imagem */
.card img {
  width: 100%;
  border-radius: 12px;
}

/* Título */
.card h1 {
  font-size: 1.35rem;
  font-weight: 700;
  color: var(--slate-900);
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Parágrafo */
.card p {
  font-size: 15px;
  color: var(--slate-500);
  margin-bottom: 20px;
  padding: 0 10px;
}