main {
    display: flex;
    flex-flow: row wrap;
    max-width: 47rem;
    background: var(--white);
    overflow: visible;
    border-radius: 1rem;
}
.image {
     width: 40%;
     height: 18rem;
     border-radius: .6rem 0rem 0rem .6rem;
}
.content {
   width: 60%;
   border-radius: 0rem 1rem 1rem 0rem;
}
.perfil .share {
    position:relative ;
    overflow: visible;
    
}
.share img {
    border-radius: 50%;
    overflow: visible;
}
.navbar {
    width: 15rem;
    height: 3rem;
    top: -5rem;
    left: -6rem;
    padding-left: 1rem;
    border-radius: 10px;
}
.navbar::after {
    content: '';
    position: absolute;
    left: 40%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid var(--Very-Dark-Grayish-Blue);
}