body {
    padding: 3rem;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background: var(--purple700) url("../assets/images/bg-desktop.svg") no-repeat left center ;
}
header img {
    width: 13rem;
}
main {
    display: flex;
    flex-flow: row wrap;
}
section {
    padding: 2rem;
    flex: auto;
}
.image {
    width: 55%;
}
.content {
    text-align: left;
    width: 40%;

}
.content p {
    margin: 0;
}
nav {
    justify-content: flex-end;
}
nav a {
    width: 3rem;
    height: 3rem;
}