@charset 'UTF-8';
body {
    display: grid;
    padding: clamp(.5rem,5vw,7rem);
    width: 100vw;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    background: var(--purple700) url("../assets/images/bg-mobile.svg") no-repeat top center;
    font-family: var(--ff1);
    font-weight: var(--regular);
}
header {
    display: flex;
    justify-content: flex-start;
    height: clamp(3rem,5vw,5rem);
}
main {
    display: grid;
    grid-template-rows: 50% 1fr;
    place-content:center;
}
section {
    display: grid;
    place-content:center;
}
.image img {
    width: 100%;
}
.content {
    color: var(--white);
    text-align: center;
    place-content:start;
}
.content h1 {
    margin-bottom: 1rem;
    font-size: clamp(1.8rem,5vw,2.4rem);
    line-height: clamp(2.3rem,5vw,3.5rem);
    font-weight: var(--semibold);
}
.content p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    padding: 0rem 1.5rem;
    font-family: var(--ff2);
}
.content .btn {
    padding: 1rem;
    width: 14rem;
    border-radius: 2rem;
    color: var(--purple700);
    border: none;
    margin: auto;
}
.btn:hover {
    background: var(--magenta400);
}
footer {
    text-align: center;
}
nav {
    display: flex;
    flex-flow: row wrap;
    gap:1rem;
    justify-content: center;
}
nav a {
    width: clamp(2.5rem,5vw,3rem);
    height: clamp(2.5rem,5vw,3rem);
    color: var(--white);
    border: 1px solid var(--white);
    padding: .5rem;
    border-radius:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center center;
    cursor: none;
}
nav a:hover {
    cursor: pointer;
    color: var(--magenta400);
    border-color: var(--megenta400);
}