@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
/* Cores */
--white: hsl(0, 0%, 100%);
--yellow: hsl(47, 88%, 63%);
--gray500: hsl(0, 0%, 42%);
--gray950: hsl(0, 0%, 7%);

/* Fontes */
--font-regular:normal 500 16px 'Figtree', Arial, Sans-serif ;
--font-bold:normal 800 clamp(1.4rem,2vw,1.6rem) 'Figtree', Arial, Sans-serif ;
}
body {
    font: var(--font-regular);
    display: grid;
    place-items:center;
    width: 100vw;
    min-height: 100vh;
    background: var(--yellow);   
}
main {
    background: var(--white);
    padding: 1.5rem;
    width: clamp(20rem, 27vw, 25rem);
    border-radius: 1rem;
    border: 2px solid var(--gray950);
    box-shadow: 8px 8px 0px var(--gray950);
    color: var(--gray500);
}
.image {
    height: 12rem;
}
.image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-position: center center;
    object-fit: cover;
}
.content .lear {
    margin-top: 1rem;
    display: inline-block;
    background: var(--yellow);
    padding: .4rem .8rem;
    font-weight: 800;
    font-size: .9rem;
    border-radius: 5px;
    color: var(--gray950);
}
.content .pub {
    display: block;
    margin-bottom: 1rem;
    font-size: .9rem;
}
.content h1 {
    font: var(--font-bold);
    margin-bottom: clamp(1rem,2vh,2rem);
    color: var(--gray950);
}
.content h1:hover {
    color: var(--yellow);
    cursor: pointer;
}
.content p {
    margin-bottom: clamp(1rem,2vh,2rem);
}
.content .icone-perfil {
    display: flex;
    column-gap: 1rem;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 800;
    color: var(--gray950);
}
.icone-perfil img {
    width: 2rem;
}